/* SmartPanel Variables */
.Style1 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #B3D7EE; }

.Style2 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #CEE7E9; }

.Style3 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #D9E3B0; }

.Style4 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #FBD585; }

.Style5 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #FEBAB2; }

.Style6 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid;
  background-color: #D1BCD2; }

.Style1020 {
  border-color: #B3D7EE;
  border-width: 1px;
  border-style: Solid;
  background-color: #B3D7EE;
  box-shadow: 2px 2px 2px #888; }

.Style8 {
  border-color: #CEE7E9;
  border-width: 1px;
  border-style: Solid;
  background-color: #CEE7E9;
  box-shadow: 2px 2px 2px #888; }

.Style9 {
  border-color: #D9E3B0;
  border-width: 1px;
  border-style: Solid;
  background-color: #D9E3B0;
  box-shadow: 2px 2px 2px #888; }

.Style10 {
  border-color: #FBD585;
  border-width: 1px;
  border-style: Solid;
  background-color: #FBD585;
  box-shadow: 2px 2px 2px #888; }

.Style11 {
  border-color: #FEBAB2;
  border-width: 1px;
  border-style: Solid;
  background-color: #FEBAB2;
  box-shadow: 2px 2px 2px #888; }

.Style12 {
  border-color: #D1BCD2;
  border-width: 1px;
  border-style: Solid;
  background-color: #D1BCD2;
  box-shadow: 2px 2px 2px #888; }

.Style7 {
  border-color: #B3D7EE;
  border-width: 1px;
  border-style: Solid;
  background-color: #B3D7EE; }

.Style14 {
  border-color: #CEE7E9;
  border-width: 1px;
  border-style: Solid;
  background-color: #CEE7E9; }

.Style15 {
  border-color: #D9E3B0;
  border-width: 1px;
  border-style: Solid;
  background-color: #D9E3B0; }

.Style16 {
  border-color: #FBD585;
  border-width: 1px;
  border-style: Solid;
  background-color: #FBD585; }

.Style17 {
  border-color: #FEBAB2;
  border-width: 1px;
  border-style: Solid;
  background-color: #FEBAB2; }

.Style18 {
  border-color: #D1BCD2;
  border-width: 1px;
  border-style: Solid;
  background-color: #D1BCD2; }

.Style19 {
  border-color: #B3D7EE;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style20 {
  border-color: #CEE7E9;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style21 {
  border-color: #D9E3B0;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style22 {
  border-color: #FBD585;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style23 {
  border-color: #FEBAB2;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style24 {
  border-color: #D1BCD2;
  border-width: 4px;
  border-style: Solid;
  background-color: #FFFFFF; }

.Style25 {
  border-color: #D9EBF6;
  border-width: 1px;
  border-style: Solid;
  background-color: #D9EBF6; }

.Style26 {
  border-color: #E7F3F4;
  border-width: 1px;
  border-style: Solid;
  background-color: #E7F3F4; }

.Style27 {
  border-color: #ECF1D9;
  border-width: 1px;
  border-style: Solid;
  background-color: #ECF1D9; }

.Style28 {
  border-color: #FDEAC4;
  border-width: 1px;
  border-style: Solid;
  background-color: #FDEAC4; }

.Style29 {
  border-color: #FEDCD9;
  border-width: 1px;
  border-style: Solid;
  background-color: #FEDCD9; }

.Style30 {
  border-color: #E8DEE8;
  border-width: 1px;
  border-style: Solid;
  background-color: #E8DEE8; }

.Text Block {
  border-width: 0px;
  border-style: Solid;
  width: 42px;
  height: 32px; }

.Slide {
  border-color: #7F7F7F;
  border-width: 3px;
  border-style: Double;
  background-color: #FFFFFF; }

.Bullet {
  border-color: #7F7F7F;
  border-width: 1px;
  border-style: Dashed;
  background-color: #FFFFFF; }

.Completed {
  border-color: #030200;
  border-width: 0px;
  border-style: Solid;
  background-color: #393c3e;
  background-image: linear-gradient(to bottom, #030200, #3B3E40);
  background-repeat: repeat-x;
  width: 42px;
  height: 32px; }

.Remaining {
  border-color: #B3D7EE;
  border-width: 1px;
  border-style: Solid;
  background-color: #B3D7EE; }

.Grid {
  border-color: #7F7F7F;
  border-width: 1px;
  border-style: Solid; }

.themeColor0 {
    background-color: #cccccc;
}

.themeColor1 {
    background-color: #b4b4b4;
}

.themeColor2 {
    background-color: #838383;
}

.themeColor3 {
    background-color: #626262;
}

.themeColor4 {
    background-color: #414141;
}

.themeColor5 {
    background-color: #f8eca0;
}

.themeColor6 {
    background-color: #f4e273;
}

.themeColor7 {
    background-color: #eecf19;
}

.themeColor8 {
    background-color: #b79f0e;
}

.themeColor9 {
    background-color: #796909;
}

.themeColor10 {
    background-color: #ffcf99;
}

.themeColor11 {
    background-color: #ffb869;
}

.themeColor12 {
    background-color: #ff8908;
}

.themeColor13 {
    background-color: #c56700;
}

.themeColor14 {
    background-color: #834500;
}

.themeColor15 {
    background-color: #eeaaaa;
}

.themeColor16 {
    background-color: #e68282;
}

.themeColor17 {
    background-color: #d63132;
}

.themeColor18 {
    background-color: #a42122;
}

.themeColor19 {
    background-color: #6d1616;
}

.themeColor20 {
    background-color: #dbaaee;
}

.themeColor21 {
    background-color: #cb82e6;
}

.themeColor22 {
    background-color: #a831d6;
}

.themeColor23 {
    background-color: #8021a4;
}

.themeColor24 {
    background-color: #55166d;
}

.themeColor25 {
    background-color: #aacaee;
}

.themeColor26 {
    background-color: #82b1e6;
}

.themeColor27 {
    background-color: #317fd6;
}

.themeColor28 {
    background-color: #215fa4;
}

.themeColor29 {
    background-color: #163f6d;
}

.themeColor30 {
    background-color: #aae6ee;
}

.themeColor31 {
    background-color: #82dae6;
}

.themeColor32 {
    background-color: #31c3d6;
}

.themeColor33 {
    background-color: #2195a4;
}

.themeColor34 {
    background-color: #16636d;
}

.themeColor35 {
    background-color: #dfeeaa;
}

.themeColor36 {
    background-color: #cfe682;
}

.themeColor37 {
    background-color: #b2d631;
}

.themeColor38 {
    background-color: #87a421;
}

.themeColor39 {
    background-color: #5a6d16;
}
